#**Notebook for the analysis of relevance evaluation by raters (prec@10)**

In [ ]:
#pip install pyirr

In [41]:
# Import libraries
import pandas as pd
from pyirr import read_data, kappam_fleiss

In [42]:
# Read file containing relevance scores by three raters for 5 queries in 4 information retrieval systems
data=pd.read_csv("Relevance evaluation.csv", sep=";")
data

       rater                 system          query  result  relevance
0    Rater 1  Semantic Search Engin       Asturias       1          1
1    Rater 1  Semantic Search Engin       Asturias       2          1
2    Rater 1  Semantic Search Engin       Asturias       3          1
3    Rater 1  Semantic Search Engin       Asturias       4          1
4    Rater 1  Semantic Search Engin       Asturias       5          1
..       ...                    ...            ...     ...        ...
595  Rater 3            Online Shop  Sierra Nevada     196          1
596  Rater 3            Online Shop  Sierra Nevada     197          0
597  Rater 3            Online Shop  Sierra Nevada     198          0
598  Rater 3            Online Shop  Sierra Nevada     199          0
599  Rater 3            Online Shop  Sierra Nevada     200          0

[600 rows x 5 columns]

In [43]:
# Calculation of prec@10 scores by query and system
evaluation_rater=data.pivot_table(index = ["system","query","result"], 
              columns = "rater" , 
              values = "relevance", 
              aggfunc = "sum").reset_index()

evaluation_rater["sum_relevance"]=evaluation_rater["Rater 1"]+evaluation_rater["Rater 2"]+evaluation_rater["Rater 3"]
evaluation_rater.loc[evaluation_rater["sum_relevance"] >= 2, "final_relevance"] = 1
evaluation_rater.loc[evaluation_rater["sum_relevance"] < 2, "final_relevance"] = 0

evaluation_rater.pivot_table(index = ["query"], 
              columns = "system" , 
              values = "final_relevance", 
              aggfunc = "mean").reset_index()

system,query,Online Shop,Download Centre,Map Library,Semantic Search Engin
0,Asturias,0.5,0.1,1.0,1.0
1,Murcia,0.4,0.0,1.0,1.0
2,Sierra Nevada,0.6,0.5,0.9,0.4
3,The Way of El Cid,0.0,0.0,0.0,0.4
4,Toledo,0.0,0.4,0.8,1.0

In [45]:
# Calculation of Fleiss' Kappa for the 3 raters
kappam_fleiss(evaluation_rater[["Rater 1","Rater 2","Rater 3"]].to_numpy(), detail=True)

==================================================
            Fleiss` Kappa for m Raters
==================================================
Subjects = 200
  Raters = 3
   Kappa = 0.700

       z = 17.140
 p-value = 0.000

   Kappa      z  p.value
0    0.7  17.14      0.0
1    0.7  17.14      0.0
==================================================